    <%- include("../partials/header.ejs"); %>

        <div class="container mt-3">
            <div class="row">
                <% for (var c of cars) { %>
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="<%= c.pictureLink %>" alt="<%= c.brand %> - <%= c.model %>" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= c.brand %> <%= c.model %></h5>
                            <p class="card-text"><%= c.carDescription %></p>
                            <a href="/cars/view/<%= c.carID %>" class="btn btn-primary">Rent</a>
                        </div>
                    </div>
                </div>
                <% }%>
</div>
</div>

<%- include("../partials/footer.ejs"); %>
